logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
node_modules/
.tmp/
temp/
.temp/
dist/
build/
lib/
.vscode/
coverage/
.idea/
.cache/
.yalc/
yalc.lock
yalc.sig
*.tgz
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*
*.tsbuildinfo
.eslintcache
tsconfig.vitest-temp.json
